@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body, html{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: "coolvetica", "Roboto", "Arial";
    display: flex;
    flex-direction: column;
    background-color: #001933;
    scroll-behavior: smooth;
}

.first, .second, .prereq, .steps{
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition: all  2s;
}

.show{
    opacity: 1;
    transform: translateX(0);
}

.header{
    display: flex;
    background-color: rgba(54, 58, 62, 0.3);
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding: 0.7rem 1rem;
    height: 5rem;
    z-index: 99999;
}
.links ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.875rem;
    list-style: none;
    color: #E5E7EB;
    width: 35rem;
    margin: 0;
    padding: 0;
}
.logo{
    font-size: 1.5rem;
    font-weight: 600;
    width: 50rem;
}

/*first section*/

.first{
    display: flex;
    background-color: #001933;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1.5rem 0;
    gap: 0.625rem;
    height: 11rem;
    z-index: 1;
}
.title{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #E5E5E5;
}

/*latar belakang section*/
.second{
    padding: 2.2rem 0;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}


.lb-title{
    overflow: hidden;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    z-index: 99;
}

.lb-desc{
    width: 65%;
    font-size: 1.3rem;
    z-index: 99;
    opacity: 1;
}
/*steps*/

.steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 3rem;
    background-color: #001933;
}

.steps-herotitle{
    font-weight: 600;
    font-size: 2rem;
    color: #E5E5E5;
}

.steps-content{
    display: flex;
    width: 80%;
    gap: 3rem;
    padding: 1rem 0;
}

.steps-desc{
    width: 44rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 25px;
    padding: 1rem;
}

.steps-title{
    color: #E5E5E5;
    padding: 0.7rem 0;
}

.steps-desc p{
    color: #E5E5E5;
}

.steps {
    overflow: hidden;
    position: relative;
}
  
.steps-bg {
    opacity: 0.4;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    z-index: 0;
}


.steps-wrcontent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 23px;
    color: #E5E5E5;
    z-index: 99;
}

.left{
    display: flex;
}

/*prereq*/
.prereq{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: #F9FAF8;
}

.prereq-title{
    font-size: 2rem;
    font-weight: 600;
}

.prereq-list{
    width: 50%;
}

.prereq li{
    padding: 1.25rem;
}

mark{
    background-color: yellow;
}

.traffic-signs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1rem;
    padding: 3rem;
    z-index: 99;
    background-color: #F9FAF8;
}

.traffic-signs-title{
    font-weight: 600;
    font-size: 2rem;
}

.traffic-signs-content{
    width: 50%;
}

.traffic-signs img{
    width: 650px;
}

@font-face {
    font-family: coolvetica;
    src: url("coolvetica.zip");
}

